h1,h2,h3
	margin 0px
	padding 0px

body
	background-color #333
	font-size 14px
	font-family: 'Open Sans', sans-serif;

nav
	background-color #627aad
	color #fff

	a
		color #fff
		display block
		font-size 1.5em
		padding 10px 12px
		text-decoration none
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;

		&:hover
			background-color #536792
			color #d4d9e4
			-webkit-opacity: 0.7;
			-moz-opacity: 0.7;
			opacity: 0.7;
			text-decoration none

.wrapper
	.row
		margin-right 0px

.wcontent
	background-color #f2f2f2
	min-height 650px
	padding 0px

	.inner
		padding 0px 20px

		table
			background-color #fff

.remove-paddin-right
	padding-right 0px


.sidebar
	ul
		list-style-type none
		padding 0px

		li
			display block

			a
				display block
				color #d2d2d2
				padding 12px
				-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				-ms-transition: all 0.3s ease-in-out;
				-o-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;

				&:hover
					background-color #202020
					color #fff
					text-decoration none
					-webkit-opacity: 0.7;
					-moz-opacity: 0.7;
					opacity: 0.7;

.breadcrumb
	background-color #fff
	border-radius 0px
	border-bottom 3px solid #dae0e8
	padding 8px

	h1
		display block
		font-size 1.8em
		padding 4px

		span
			color #333 !important
			display inline-block
			font-size 12px !important
			float right
			margin-top: 6px;

			a
				font-size 12px !important

.app_panel
	background-color #fff
	border 1px solid #f0f0f0
	border-radius 2px
	overflow hidden
	padding 12px
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

	&:hover
		-webkit-opacity: 0.9;
		-moz-opacity: 0.9;
		opacity: 0.9;

	.icon
		display inline-block
		background-color #f0f0f0
		border-radius 40px
		padding 20px

		i
			font-size 2.4em;

	.stat
		display inline-block
		float right
		margin-top: 8px;
		text-align center
		
		h2
			font-size 16px
			color #666 !important

.app_panel-green
	border-top 8px solid #afde5c

	.stat
		color #afde5c
		font-weight 700
		font-size 1.7em

	&:hover
		box-shadow 0px 0px 5px #afde5c

.page_content
	background-color #fff
	padding 12px

	table
		.text-muted
			font-size 0.8em

.form-control
	border-radius 4px
	
	&:focus
		box-shadow none

.alert
	border-radius 0px